* {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planetPurple{
    height:20vh;
    position:relative;
    animation: rotation 25s infinite linear;
    left: 40vw;
}

.bluePlanet{
    height:20vh;
    position:relative;
    animation: rotation 15s infinite alternate;
    left: 10vw;
    top:30vh
}

::-webkit-scrollbar {
    display:none;
}

.container{

    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.one{
   
    background-image: url(/src/images/fondogalaxy.png) ;
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    
    
  
    
}
.two{
    background-color: blue;

}
.three{
    background-color:red

}

@keyframes rotation {
    0% {
            transform:  rotate(0deg) 
            }
       
    100% {
           transform:  rotate(359deg);
   
    }
}